.error-message-container {
  text-align: center;
  line-height: 100px;
}

.error-message {
  font-size: 32px;
  color: white;
}

.error-message-link {
  font-size: 32px;
  color: white;
}

.error-message-link:hover {
  text-decoration: underline;
}
