.error-message-container {
  text-align: center;
  line-height: 100px;
}

.error-message,
.error-message-link {
  font-size: 32px;
  color: white;
  position: relative;
  z-index: 1;
}

.error-message-link:hover {
  text-decoration: underline;
}
