.movie-card {
  color: white;
  text-transform: uppercase;
  box-sizing: border-box;
  position: relative;
  width: 250px;
  z-index: 1;
}

.movie-card::after {
  height: 100%;
  left: 10%;
  top: 0;
  width: 80%;
  border-bottom: 1px solid white;
  position: absolute;
  content: '';
}

.movie-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card-poster {
  width: 100%;
  object-fit: cover;
}

.card-details {
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-size: 18px;
  margin: 10px;
}

.card-rating {
  font-size: 16px;
  margin: 10px;
  white-space: nowrap;
}
