.movie-card {
  box-sizing: border-box;
  color: white;
  width: 250px;
  z-index: 1;
  position:relative;
  text-transform: uppercase;
}

.movie-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  height: 100%;
  width: 80%;
  border-bottom: 1px solid white;
}

.movie-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-details {
  display: flex;
  justify-content: space-between;
}

.card-poster {
  width: 100%;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  margin: 10px;
}

.card-rating {
  font-size: 16px;
  margin: 10px;
  white-space: nowrap;
}
