.movies-container {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.noMatch {
  position: fixed;
  color: white;
  font-size: 40px;
}
