.movies-container {
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.noMatch {
  color: white;
  font-size: 40px;
  position: fixed;
}
