.Header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  display: flex;
  align-items: center;
}

h1 {
  font-family: 'Abril Fatface';
  font-size: 32px;
  margin: 20px;
}

h2 {
  font-family: 'Josefin Sans';
  font-size: 24px;
  margin-top: 15px;
}

button {
  background-color: transparent;
  border: 0;
  border-bottom: 4px solid transparent;
  color: white;
  font-family: 'Josefin Sans';
  font-size: 24px;
  margin: 20px;
}

button:hover {
  border-bottom: 4px solid white;
  cursor: pointer;
}
